@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #b5ead7;
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  transition: background 0.3s;
}

.box {
  width: 230px;
  height: 230px;
  border-radius: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding-top: 100px;
  background: white;
  box-shadow: 0 35px 65px 0 rgba(86, 184, 149,0.42), inset 0 -10px 15px 0 rgba(113, 235, 191,0.8);
}


.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.1em;
}

.globe {
  font-size: 1em;
  line-height: 2;
}

.trend {
  font-size: 1em;
}